<!--<h1>StaticPages#index</h1>-->
<!--<p>Find me in app/views/static_pages/index.html.erb</p>-->
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Home</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>  
      <a href="/static_pages/home">Home</a>  
    </p>
    <p>  
      <a href="/static_pages/help">Help</a>  
    </p> 
    <p>  
      <a href="/static_pages/about">About</a>  
    </p>
    <p>  
      <a href="/static_pages/contact">Contact</a>  
    </p>
    <p>
      <a href="http://adg-pftwwr-41-9-1.herokuapp.com/">My App</a>
    </p>
  </body>
</html   
