<h1>Time#index</h1>
<p>Find me in app/views/time/index.html.erb</p>
<p>
  <input style="font-weight: bold" value="&nbsp;&nbsp;<%= @today.to_s %>"/> : date now UTC.
</p>
<p>
  <input style="font-weight: bold" value="&nbsp;&nbsp;<%= @tstring %>"/> : time now UTC.
</p>
<p>
  <input style="font-weight: bold" value="&nbsp;&nbsp;<%= @ajd.to_s %>"/> : is astronomical julian day number and time now.
</p>
